.bigBox{
    position: relative;
}
.EditSquare {
    border-style: solid;
    border-color: black;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
}

.removeButton {
    align-self: flex-end;
    padding-right: 5px;
}

.editButton {
    order: 2;
    align-items: center;
    text-decoration: underline;
    padding-top: 10px;
    color: black;
}

.backImg {
    opacity: 0.3;
    position: absolute;
}