.listElements {
    list-style: none;
    flex-direction: row;
    border-style: solid;
    padding-left: 5px;
    height: 30px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: fit-content;
}

.etiqueta{
    color: black;
}

.showtagDelbutton {
    background: none;
    border-inline: none;
    border-block: none;
    padding-left: 20px;   
}

.hideTagDelbutton {
    visibility: hidden;
}