li{
    list-style: none;
    display: inline-flex;
    justify-content: flex-start;
    background-color: rgb(228, 228, 228);
    padding-left: 10px;
}

p{
    text-decoration: none;
}

button{
    background: none;
    border-inline: none;
    border-block: none;
    padding-left: 30px;
}