.itemSquare {
    border-style: solid;
    border-color: black;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.backgroundPhoto{
    object-fit: cover;
    object-position: center;
}