.borderSquare{
    border-style: solid;
    border-color: black;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255, 218, 175);
}

.collectionName{
    align-self: flex-start;
    order: 1;
    padding-left: 10px;
}

.collectionCounter{
    align-self: flex-end;
    order: 2;
    padding-right: 5px;
    padding-top: 18pt;
}

.bodyCollectionSquare {
    margin-right: 20px;
    margin-bottom: 20px;
}