.bigBox{
    position: relative;
    padding-bottom: 10px;
}

.EditSquare {
    border-style: solid;
    border-color: black;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    align-items: center;
}

.removeButton {
    align-self: flex-end;
    padding-right: 5px;
    background: none;
    border-inline: none;
    border-block: none;
    font-size: 12pt;
    position: absolute;
    z-index: 2;
}

.editButton {
    order: 2;
    text-decoration: underline;
    padding-top: 20px;
    color: black;
    position: relative;
    z-index: 3;
}

.backImg {
    opacity: 0.3;
    position: absolute;
}

.backgroundPhoto{
    object-fit: cover;
    object-position: center;
    align-content:stretch;
}