.buttonNewSquare {
    border-style: solid;
    border-color: black;
    width: 106px;
    height: 106px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.pNewSquare{
    font-size: 18pt;
}
