.navBottom {
    background-color: rgb(236, 236, 236);
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gocollections {
    height: 80px;
    width: 80px;
    background: none;
    border-inline: none;
    border-block: none;
    
}

.goNewPhoto {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-color: black;
    border: solid;
    font-size: 18pt;
    font-weight: bold;
}

.goProfile {
    height: 80px;
    width: 80px;
    background: none;
    border-inline: none;
    border-block: none;
}