.navBottom {
    background-color: rgb(219, 219, 219);
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gocollections {
    height: 80px;
    width: 80px;
    
}

.goNewPhoto {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border-color: black;
    border: solid;
    background-color: rgb(240, 240, 240);
    font-size: 40pt;
}

.goProfile {
    height: 80px;
    width: 80px;

}